<%- include('header') -%>
<body>
  <div class="box" id="heading">
    <h1>Today is <%=dayToDisplay%></h1>
  </div>
  <div class="box">
    <%for (let i = 0; i < taskList.length; i++) {%>
      <div class="item item-box">
        <input type="checkbox" name="" id="">
        <p class="item-task"><%= taskList[i] %></p>
        <div class="delete-task__box">
          <button type="submit" class="delete-task__btn" name="deleteBtn" value=<%= i %> onclick='deleteTask()'>x</button>
        </div>
      </div>
    <%}%>
    <form action="/" method="post">
      <input type="text" name="newTask" id="task-input" placeholder="Nueva tarea" autocomplete="off" class="new-task__input">
      <button class="new-task__btn" type="submit" name="pageView" value=<%= pageView %>>+</button>
    </form>

    <script>
      function deleteTask(e) {
        console.log(e);
      }
    </script>
  </div>
</body>
<%- include('footer') -%>
