<%- include('header') -%>
<body>
  <div class="box" id="heading">
    <h1>Today is <%=dayToDisplay%></h1>
  </div>
  <div class="box">
    <%for (let item of taskWork) {%>
      <div class="item item-box">
        <input type="checkbox" name="" id="">
        <p class="item-task"><%= item %></p>
        <div class="delete-task__box">
          <button type="submit" class="delete-task__btn">x</button>
        </div>
      </div>
    <%}%>
    <form action="/work" method="post">
      <input type="text" name="newTask" id="task-input" placeholder="Nueva tarea" autocomplete="off">
      <button type="submit" name="pageView" value=<%=pageView %>>+</button>
    </form>
  </div>
</body>
<%- include('footer') -%>
